#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

li {
    float: left;
    width: 100px;
    height: 40px;
}

li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

body {
    background-image: url(https://c.wallhere.com/photos/e0/c6/minimalism_black_background_photography_street_lamp_street_light_lights_parking_lot-115825.png!d);
    background-size: cover;
    background-repeat: none;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 5em;
    margin: 0px;
}

p {
    color: white;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
    margin: 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 12vw);
    grid-gap: 25px;
    margin: 50px;
}

.grid > div {
    color: white;
    border: 1px solid white;
    background-image: url(); 
    background-color: rgba(255, 255, 255, 0.3);
}

.link > a {
    text-decoration: none;
    color: white;
}

/*
.grid > div:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.7);
}
*/



