.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px 100px;
}

.grid > div:nth-child(even){
    background-color: rgba(0, 0, 0, 0.6);
}

.grid > div:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.2);
}

img {
    height: 100px;
    width: 100px;
}
