ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: 'Redressed', cursive;
}

a:hover {
    color: orange;
}

body {
    background-color: black;
    /* background-image: url(https://c.wallhere.com/photos/e0/c6/minimalism_black_background_photography_street_lamp_street_light_lights_parking_lot-115825.png!d);
    background-size: cover;
    background-repeat: none; */
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Redressed', cursive;
    font-size: 5em;
    margin: 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20vw);
    grid-gap: 25px;
    margin: 50px;
}

.grid > figure {
    color: white;
    background-color: grey;
    margin: 5px;
}

.gallery_item--2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.link > a {
    font-family: 'Redressed', cursive;
    text-decoration: none;
    color: white;
}
